/* body */
html {
  margin: auto;
  background: #aaa;
  box-sizing: border-box;
}

/* container */
.flex-container {
  background: #fff;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* logo */
.logo img {
  width: 100px;
}

/* search input */
.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.search-input__search,
.search-input__submit {
  border-radius: 5px;
  border: 1px solid rgb(165, 164, 164);
  box-shadow: 1px 1px black;
}

.search-input__submit {
  background-color: #d91e41;
  color: #fff;
  border: 1px solid #d91e41;
}

.search-input__search {
  color: rgb(87, 87, 87);
}

.search-input__submit:hover {
  cursor: pointer;
}

/* navigation */
.nav {
  width: 100%;
  background-color: #d91e41;
}

.nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav > ul > li {
  display: inline-block;
}

.nav > ul > li > a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;
  font-family: sans-serif;
  font-size: smaller;
  font-weight: bold;
}

.nav > ul > li > a:hover {
  background-color: #e75465;
}

/* dropdown */
.nav__drop {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
  display: none;
  z-index: 999;
  font-weight: bold;
}

.nav__drop > li > a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 15px;
  font-family: sans-serif;
  font-size: smaller;
  background-color: #eee;
}

.nav__drop > li > a:hover {
  background-color: #d91e41;
  color: #ffffff;
}

/* dropdown menu */
.nav > ul > li:hover .nav__drop {
  display: block;
}

/* banner */
.banner {
  display: flex;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 400px;
  margin: auto;
  object-fit: cover;
}

/* content-holder */
.content-holder {
  background-color: #394159;
}

.content {
  height: auto;
  padding: 25px;
  background-color: white;
  float: left;
}

.content h1 {
  font-size: 1.5em;
  font-family: sans-serif;
}

.content p {
  font-family: sans-serif;
  font-size: small;
}

.sidebar {
  display: flex;
  min-width: 200px;
 justify-content: center;
 align-items: center;
}

.sidebar h3 {
  font-family: sans-serif;
  color: #fff;
}

.sidebar ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.sidebar ul > li > a {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-family: sans-serif;
  font-style: italic;
  text-decoration: none;
}

.sidebar ul > li > a:hover {
  color: #d91e41;
  font-weight: bold;
}

/* footer */
.footer {
  background-color: black;
  color: white;
  height: auto;
  padding: 25px;
  display: flex;
}

.footer__box {
  width: 237.5px;
  height: auto;
  font-family: sans-serif;
}

.footer__box > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.footer__box > ul > li > a {
  display: inline;
  font-size: small;
  margin: 5px;
  color: white;
  text-decoration: none;
}

.footer__box > ul > li > a:hover {
  color: #d91e41;
  font-weight: bold;
}

address p {
  font-size: small;
}

.footer__box address a {
  color: teal;
  font-size: small;
}

.copy {
  font-family: sans-serif;
  padding: 25px;
  text-align: center;
  background-color: #d91e41;
  color: white;
}

.copy p {
  text-align: center;
}

/* about page */
.content img {
  max-width: 100%;
}

/* product page */
.content-holder {
  display: flex;
}

.product-list {
  display: flex;
  flex-wrap: nowrap;
  min-width: 300px;
}

.product-list__product {
  padding: 20px;
  margin: 0 10px;
}

.product-list__product-caption p {
  font-weight: bold;
}

.product-list__product-caption del {
  color: red;
}

.product-list__product-caption ins {
  color: green;
}

.product-list__product-caption a {
  display: block;
  padding: 8px;
  background-color: teal;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  font-size: small;
  font-weight: bold;
}

.product-list__product-caption a:hover {
  background-color: #d91e41;
  font-weight: bold;
}

/* contact page */
.banner iframe {
  width: 100%;
  height: 416.66px;
}
