/* body */
body {
  margin: 0 auto;
  background-color: gainsboro;
}

/* container */
.container {
  width: 1000px;
  height: auto;
  background-color: white;
  margin: auto;
}

/* logo */
.logo img {
  width: 100px;
}

.logo {
  float: left;
  padding: 15px;
}

/* search input */
.search {
  float: right;
  padding: 15px;
}

#search,
#submit {
  border-radius: 5px;
  border: 1px solid rgb(165, 164, 164);
  box-shadow: 1px 1px black;
}

#search {
  color: rgb(87, 87, 87);
}

#submit:hover {
  cursor: pointer;
}

.clearFix {
  clear: both;
}

/* navigation */
.main-menu {
  background-color: #7FA66D;
}

.main-menu > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-menu > ul > li {
  display: inline-block;
}

.main-menu > ul > li > a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;
  font-family: sans-serif;
  font-size: smaller;
  font-weight: bold;
}

.main-menu > ul > li > a:hover {
  background-color: orange;
}

/* dropdown */
.drop {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
  display: none;
  z-index: 999;
  font-weight: bold;
}

.drop > li > a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 15px;
  font-family: sans-serif;
  font-size: smaller;
  background-color: #eee;
}

.drop > li > a:hover {
  background-color: orange;
}

/* dropdown menu */
.main-menu > ul > li:hover .drop {
  display: block;
}

/* banner */
.banner {
  width: 100%;
  height: 416px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
}

/* content-holder */
.content-holder {
  background-color: #7FA66D;
}

.content {
  width: 700px;
  height: auto;
  padding: 25px;
  background-color: white;
  float: left;
}

.content h1 {
  font-size: 1.5em;
  font-family: sans-serif;
}

.content p {
  font-family: sans-serif;
  font-size: small;
}

.sidebar {
  float: left;
  padding: 25px;
}

.sidebar h3 {
  font-family: sans-serif;
  color: white;
}

.sidebar ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.sidebar ul > li > a {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-family: sans-serif;
  font-style: italic;
  text-decoration: none;
}

.sidebar ul > li > a:hover {
  color: orange;
  font-weight: bold;
}

/* footer */
.main-footer {
  background-color: black;
  color: white;
  width: 950px;
  height: auto;
  padding: 25px;
}

.footer-box {
  width: 237.5px;
  height: auto;
  float: left;
  font-family: sans-serif;
}

.footer-box > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.footer-box > ul > li > a {
  display: block;
  font-size: small;
  margin: 5px;
  color: white;
  text-decoration: none;
}

.footer-box > ul > li > a:hover {
  color: orange;
  font-weight: bold;
}

address p {
  font-size: small;
}

.footer-box address a {
  color: teal;
  font-size: small;
}

.copy {
  font-family: sans-serif;
  padding: 25px;
  text-align: center;
  background-color: #7FA66D;
  color: white;
}

.copy p {
  text-align: center;
}

/* about page */
.content img {
  max-width: 100%;
}

/* product page */
.product {
  width: 211.33px;
  height: auto;
  float: left;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.product-caption p {
  font-weight: bold;
}

.product-caption del {
  color: red;
}

.product-caption ins {
  color: green;
}

.product-caption a {
  display: block;
  padding: 8px;
  background-color: teal;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  font-size: small;
  font-weight: bold;
}

.product-caption a:hover {
  background-color: orange;
  font-weight: bold;
}

/* contact page */
.banner iframe {
  width: 100%;
  height: 416.66px;
}
